<template>
  <div id="index">
    <!-- HEADER -->
    <PublicHeader2></PublicHeader2>
    <section class="main">
        <div class="main-box">
            <div class="welcome">
                <p class="big_title">Why did we build this website?</p>
                <p id="main_text" class="text">We are five students studying the computer science degree, eager to learn and expand our knowledge we have developed this website in order to demonstrate what we have learned in the field of web platforms taught by Professor Luis Antonio
                    Ramirez Martinez</p>
            </div>
        </div>
        <div id="info" class="content">
            <a class="btn-flotante" href="#"><i class="zmdi zmdi-chevron-up zmdi-hc-2x"></i></a>
            <div class="container_2">
                <input type="radio" id="a1" name="images2" checked />
                <input type="radio" id="a2" name="images2" />
                <input type="radio" id="a3" name="images2" />
                <input type="radio" id="a4" name="images2" />
                <input type="radio" id="a5" name="images2" />

                <div class="slide_img_2" id="one_2">
                    <div class="circle">
                        <img class="img-fluid" src="/assets/images/yo.png">
                    </div>
                    <div class="contenido">
                        <h2 class="carusel_title">Flor Alejandra Legarda Araujo</h2>
                        <p class="carusel_subti">310834</p>
                        <p class="carusel_text">" In this course I learned a lot about how to build a web page. My favorite part was the elaboration of the frontend. I hope in the future I expand my knowledge."
                        </p>
                    </div>

                    <label class="prev" for="a4"><i class="zmdi zmdi-chevron-left"></i></label>
                    <label class="next" for="a2"><i class="zmdi zmdi-chevron-right"></i></label>

                </div>

                <div class="slide_img_2" id="two_2">
                    <div class="circle">
                        <img class="img-fluid" src="/assets/images/luismi.png">
                    </div>
                    <div class="contenido">
                        <h2 class="carusel_title">Luismiguel Ortiz Alvarez</h2>
                        <p class="carusel_subti">310852</p>
                        <p class="carusel_text">"Thanks to my new knowledge about docker I can think of different ways to develop web platforms."
                        </p>
                    </div>
                    <label class="prev" for="a1"><i class="zmdi zmdi-chevron-left"></i></label>
                    <label class="next" for="a3"><i class="zmdi zmdi-chevron-right"></i></label>

                </div>

                <div class="slide_img_2" id="three_2">
                    <div class="circle">
                        <img class="img-fluid" src="/assets/images/horacio.png">
                    </div>
                    <div class="contenido">
                        <h2 class="carusel_title">Horacio Adame Villalobos </h2>
                        <p class="carusel_subti">310966</p>
                        <p class="carusel_text">"I learned more from Linux with this class than in operating systems. Also, what I learned in this class will be useful in the future of work."
                        </p>
                    </div>
                    <label class="prev" for="a2"><i class="zmdi zmdi-chevron-left"></i></label>
                    <label class="next" for="a4"><i class="zmdi zmdi-chevron-right"></i></label>
                </div>


                <div class="slide_img_2" id="four_2">
                    <div class="circle">
                        <img class="img-fluid" src="/assets/images/edmond.png">
                    </div>
                    <div class="contenido">
                        <h2 class="carusel_title">Eduardo Evora Cabrera</h2>
                        <p class="carusel_subti">310924</p>
                        <p class="carusel_text">
                            "This course led me to learn the Javascript, Git and Docker and I hope to use them one day in the future."
                        </p>
                    </div>
                    <label class="prev" for="a3"><i class="zmdi zmdi-chevron-left"></i></label>
                    <label class="next" for="a1"><i class="zmdi zmdi-chevron-right"></i></label>

                </div>
                <div class="slide_img_2" id="five_2">
                    <div class="circle">
                        <img class="img-fluid" src="/assets/images/erick.png">
                    </div>
                    <div class="contenido">
                        <h2 class="carusel_title">Erick Villareal Esquivel</h2>
                        <p class="carusel_subti">310905</p>
                        <p class="carusel_text">" This course has been a very complete course on the correct and updated process of developing a web platform."
                        </p>
                    </div>

                    <label class="prev" for="a4"><i class="zmdi zmdi-chevron-left"></i></label>
                    <label class="next" for="a1"><i class="zmdi zmdi-chevron-right"></i></label>

                </div>
                <div id="nav_slide_2">
                    <label for="a1" class="dots2" id="dot1_2"></label>
                    <label for="a2" class="dots2" id="dot2_2"></label>
                    <label for="a3" class="dots2" id="dot3_2"></label>
                    <label for="a4" class="dots2" id="dot4_2"></label>
                    <label for="a5" class="dots2" id="dot5_2"></label>
                </div>
            </div>

        </div>

        <!-- FOOTER -->
        <PublicFooter></PublicFooter>
    </section>
  </div>
</template>

<script type="text/javascript" src="./about.js"></script>

<!--<style src="/assets/css/main1.css" scoped></style>-->

