<template>
  <div id="proSet">
    <!-- WRAPPER -->
    <div id="wrapper">
      <LogedHeader></LogedHeader>
        
      <LeftSideBar2></LeftSideBar2>
      <!-- MAIN -->
      <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
          <div class="container-fluid">
            <h3 class="page-title">Settings</h3>
            <div id="toastr-demo" class="panel">
              <div class="panel-body">
                <form class="form-auth-small" action="index.php">
                  <h4>Name</h4>
                  <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <input type="text" class="form-control" placeholder="Nombre " value="Samuel G"/>
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                  </div>
                  <h4>Nickname</h4>
                  <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <input type="text" class="form-control" placeholder="Nombre " value="Samuel Gold"/>
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                  </div>
                  <h4>Email</h4>
                  <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <input type="email" class="form-control" placeholder="Nombre " value="SamuelGold@mail.com"/>
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                  </div>
                  <div class="name">
                    <h4>Password</h4>
                  <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <input type="password" class="form-control" placeholder="Nombre " value="Samuel G"/>
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                  </div>
                  <h4>Password</h4>
                  <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <input type="password" class="form-control" placeholder="Nombre " value="Samuel G"/>
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                  </div>
                  <h4>Birthday</h4></div>
                  <div class="value">
                    <div class="input-group">
                      <input
                        type="date"
                        id="start"
                        name="fecha-nacimiento"
                        value="2016-08-24"
                        min="1930-01-01"
                        max="2000-12-31"
                      />
                    </div>
                  </div>
                  <h4>CURP</h4>
                  <div
                    class="wrap-input100 validate-input m-b-23"
                    data-validate="Username is reauired"
                  >
                    <input
                      type="text"
                      class="form-control"
                      placeholder="curp"
                      value="SGP051098HMCHL15"
                    />
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                  </div>
                  <h4>RFC</h4>
                  <div
                    class="wrap-input100 validate-input m-b-23"
                    data-validate="Username is reauired"
                  >
                    <input
                      type="text"
                      class="form-control"
                      placeholder="rfc"
                      value="SGP051098HMCHL1551"
                    />
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-8">
                       <h4>Skills</h4>
                        <div class="metric">
                          <span class="title">
                            <p class="historias" id="pro">Master: web design</p>
                          </span>
                          <span class="title">
                            <p class="historias" id="btpro">

                            <b-button v-b-modal.modal-sm variant="primary"><span class="lnr lnr-pencil"></span></b-button>
                              <b-modal id="modal-sm" size="sm" title="Edit">
                                <h7> Skill name: </h7>
                                <b-form-input :type="text"></b-form-input>
                                <h7> Skill level: </h7>
                                <div class="rs-select2 js-select-simple select--no-search">
                              <select name="subject">
                                <option disabled="disabled" selected="selected">
                                 Level
                                </option>
                                <option>junior</option>
                                <option>senior</option>
                                <option>master</option>
                              </select>
                              <div class="select-dropdown"></div>
                            </div>
                              </b-modal>
                            </p>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="name"></div>
                      <h4>Skills</h4>
                      
                      <div class="value">
                        <div class="row row-refine">
                          <div class="col-3">
                            <div class="input-group-desc">
                              <input class="input--style-5" type="text" name="area_code" />
                              <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                              <select name="subject">
                                <option disabled="disabled" selected="selected">
                                 Level
                                </option>
                                <option>junior</option>
                                <option>senior</option>
                                <option>master</option>
                              </select>
                              <div class="select-dropdown"></div>
                            </div>
                          </div>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                      <br />
                      <div class="col-3">
                        <button type="button" class="btn btn-default">
                          <img
                            src="https://image.flaticon.com/icons/svg/875/875515.svg"
                            alt="senpai"
                            style="width:25px;height:25px;"
                          />
                          Skill
                        </button>
                      </div>
                    </div>
                  </div>

                  <!--Botonsitos-->
                  <br />
                  <p>
                    <button type="button" class="btn btn-success">
                      <span class="lnr lnr-thumbs-up"></span>Save
                    </button>
                    <button type="button" class="btn btn-danger btn-toastr">
                      <i class="lnr lnr-trash"></i>
                      Delete Account
                    </button>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- END MAIN CONTENT -->
      </div>
      <!-- END MAIN -->
      <div class="clearfix"></div>
      <footer>
        <div class="container-fluid">
          <p class="copyright">
            &copy; 2019 All Rights Reserved Bunny.
            <img
              src="https://image.flaticon.com/icons/png/128/271/271439.png"
              alt="senpai"
              style="width:25px;height:25px;"
            />
          </p>
        </div>
      </footer>
    </div>
  </div>
</template>

<script type="text/javascript" src="./proSet.js"></script>

<!--<style src="/assets/css/main1.css" scoped></style>-->

