<template>
  <div id="proyectos">
    <!-- WRAPPER -->
    <div id="wrapper">
      <LogedHeader></LogedHeader>

      <LeftSideBar2></LeftSideBar2>
      <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
          <div class="container-fluid">
            <!-- OVERVIEW -->
            <div class="panel panel-headline">
              <div class="panel-body">
                <!--Aqui-->
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-8">
                      <h2>Proyectos</h2>
                      <div class="metric">
                        <span class="title">
                          <p class="historias" id="pro">Proyect Manager</p>
                        </span>
                        <span class="title">
                          <p class="historias" id="btpro">
                            <button type="button" class="btn btn-default">
                              <li>
                                <a href="board" class="active">
                                  <i class="lnr lnr-home"></i>
                                  <span>Board</span>
                                </a>
                              </li>
                            </button>
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="metric">
                        <span class="title">
                          <p class="historias" id="pro">Proyect Manager2</p>
                        </span>
                        <span class="title">
                          <p class="historias" id="btpro">
                            <button type="button" class="btn btn-default">
                              <li>
                                <a href="board" class="active">
                                  <i class="lnr lnr-home"></i>
                                  <span>Board</span>
                                </a>
                              </li>
                            </button>
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div id="final_btn" class="metric">
                        <div class="demo-button">
                          <div>
                          <b-button id="add_pro" v-b-modal.modal-scrollable><img
                              src="https://image.flaticon.com/icons/svg/875/875515.svg"
                              alt="senpai"
                              style="width:25px;height:25px;"
                            />
                            Create Proyect</b-button>

                          <b-modal id="modal-scrollable" scrollable title="New Proyect">
                          <!--Nombre-->
                            <div class="contenido">
                              <div class="campo">
                                <p>Proyect name: </p>
                                <b-input-group size="lg" >
                                  <b-form-input></b-form-input>
                                </b-input-group>
                              </div>
                            </div>
                            <!--Fecha de solicitud de proyecto-->
                            <div class="contenido">
                              <div class="campo">
                                <p>Project Request Date: </p>
                                <input type="date" id="start" name="fecha-nacimiento" value="2018-07-22" min="1930-01-01" max="2000-12-31">
                              </div>
                            </div>
                            <!--Fecha de solicitud de arranque-->
                            <div class="contenido">
                              <div class="campo">
                                <p>Startup Request Date: </p>
                                <input type="date" id="start" name="fecha-nacimiento" value="2018-07-22" min="1930-01-01" max="2000-12-31">
                              </div>
                            </div>
                            <!--Descripcion-->
                            <div class="contenido">
                              <div class="campo">
                                <p> Project description: </p>
                                <b-form-textarea id="textarea" v-model="text" placeholder="Enter something..." rows="3" max-rows="6">
                                </b-form-textarea>
                              </div>
                            </div>
                            <!--Nombre del dueño-->
                            <div class="contenido">
                              <div class="campo">
                                <p>Product Owner Name: </p>
                                <b-input-group size="lg" >
                                  <b-form-input></b-form-input>
                                </b-input-group>
                              </div>
                            </div>
                            <!--Manager-->
                            <div class="contenido">
                              <div class="campo">
                              <label class="typo__label">Select manager</label>
                              <multiselect v-model="value" :options="options" :custom-label="nameWithLang" placeholder="Select one" label="name" track-by="name"></multiselect>
                              </div>
                            </div>
                            
                              <!--Equipo de desarrollo-->
                            <div class="contenido">
                              <div class="campo">
                                <p>Development team: </p>
                                <b-input-group size="lg" >
                                  <b-form-input></b-form-input>
                                </b-input-group>
                              </div>
                            </div>
                            <!--Terminado?-->
                            <div class="contenido">
                              <div class="campo">
                                <b-form-checkbox id="checkbox-1" v-model="status" name="checkbox-1" value="Finish" unchecked-value="not_finish">
                                  Finish
                                </b-form-checkbox>
                              </div>
                            </div>
                          </b-modal>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container-fluid">
        <p class="copyright">
          &copy; 2019 All Rights Reserved Bunny.
          <img
            src="https://image.flaticon.com/icons/png/128/271/271439.png"
            alt="senpai"
            style="width:25px;height:25px;"
          />
        </p>
      </div>
    </footer>
  </div>
</template>

<script type="text/javascript" src="./proyectos.js"></script>

<!--<style src="/assets/css/main1.css" scoped></style>-->

