<template>
  <div id="page-profile">
    <!-- WRAPPER -->
    <div id="wrapper">
      <LogedHeader></LogedHeader>
        
      <LeftSideBar2></LeftSideBar2>
      
      <!-- MAIN -->
      <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
          <div class="container-fluid">
            <div id="main_welcome" class="panel panel-profile">
              <div class="clearfix">
              <div class="welcome">
                <h1>Welcome back username!</h1>
                <h3>Come checkout your proyects.</h3>
                <img class="two_cir" src="/assets/images/twoCricles.png">
              </div>
                <!--AQui-->
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
      <div class="container-fluid">
        <p class="copyright">
          &copy; 2019 All Rights Reserved Bunny.
          <img
            src="https://image.flaticon.com/icons/png/128/271/271439.png"
            alt="senpai"
            style="width:25px;height:25px;"
          />
        </p>
      </div>
    </footer>
  </div>
</template>

<script type="text/javascript" src="./page-profile.js"></script>

<!--<style src="/assets/css/main1.css" scoped></style>-->

