* {
    margin: 0;
    padding: 0;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

.main {
    width: 90%;
    margin: auto;
    max-width: 1440px;
}

.nav {
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 #353535;
    width: 100%;
    height: 60px;
    z-index: 3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 1440px;
    margin: auto;
    padding: 10px 25px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar ul li a {
    padding-left: 15px;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #353535;
}

.navbar ul li a:hover {
    color: #3c6e71;
}

.navbar ul li a .registry {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    width: 100px;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 4px;
    background-image: linear-gradient(-45deg, #284b63, #0ba780);
    transition: 1s;
}

.navbar ul li a .registry:hover {
    background-image: linear-gradient(45deg, #284b63, #20969D);
}

.logotipo {
    display: flex;
    justify-content: flex-start;
}

.logotipo img {
    max-height: 40px;
}

.main-box {
    display: grid;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 150px;
    padding-top: 200px;
}

.main:before {
    position: absolute;
    content: " ";
    max-width: 271px;
    min-height: 700px;
    width: 100%;
    right: 0;
    bottom: 0;
    top: 55px;
    background: url("../images/halfCircle.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.welcome {
    padding-left: 10%;
}

.welcome .try_now {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    width: 200px;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    background-image: linear-gradient(-45deg, #284b63, #0ba780);
    transition: 1s;
    margin-top: 20px;
}

.welcome .try_now:hover {
    animation: gelatine 0.5s ease-in-out;
    background-image: linear-gradient(45deg, #284b63, #20969D);
}

.big_title {
    font-family: "Slabo 27px", serif;
    font-size: 34px;
    color: #353535;
    line-height: 1.2;
    font-size: 50px;
    padding-bottom: 25px;
}

.title {
    font-family: "Slabo 27px", serif;
    font-size: 34px;
    color: #353535;
    line-height: 1.2;
}

.text {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    line-height: 1.4;
    color: #353535;
    text-align: center;
}

.blue {
    color: #3c6e71;
}

.scroll {
    padding-bottom: 200px;
    text-align: center;
}

.scroll #lil_scroll {
    font-family: "Slabo 27px", serif;
    font-size: 20px;
    color: #3c6e71;
    text-decoration: none;
}

.content {
    text-align: center;
}

.content .information {
    padding-bottom: 30px;
}

.logo {
    max-height: 50px;
}

.companies {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.main_footer {
    display: grid;
    position: absolute !important;
    width: 100%;
    left: 0;
}

.main_footer:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: auto;
    /*padding-bottom: 20% */
    left: 0;
    z-index: 1;
    background-position: bottom;
    background: url("../images/bottom.png");
    overflow: visible;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_footer:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /*left: 0 */
    bottom: 0;
    /*padding-bottom: 64% */
    z-index: -1;
    background-attachment: fixed !important;
    background: url("../images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*transform: rotate(180deg) */
}

.foot_info {
    position: relative;
    padding-top: 400px;
    display: block;
    text-align: center;
    z-index: 2;
}

.foot_info .social_media {
    display: block;
    padding-top: 8%;
}

.foot_info .social_media img {
    width: 30px;
    height: 30px;
    padding: 0.3%;
    border-radius: 12px;
    background-color: #ffffff;
    margin-right: 1%;
}

.foot_info .social_media img:hover {
    background-color: #353535;
}

.foot_content {
    text-align: center;
}

.foot_content .try_now {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    color: #d9d9d9;
    font-weight: 700;
    border-color: #20969D;
    width: 200px;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    background-image: linear-gradient(-45deg, #353535, #0ba780);
    transition: 1s;
    margin-top: 38px;
}

.foot_content .try_now:hover {
    animation: gelatine 0.5s ease-in-out;
    opacity: 0.7;
    color: #ffffff;
    background-image: linear-gradient(45deg, #353535, #20969D);
}

.logotipo_white {
    display: inline-flex;
    padding-bottom: 5%;
}

.logotipo_white img {
    max-height: 30px;
}

.title_white {
    font-family: "Slabo 27px", serif;
    font-size: 34px;
    color: #353535;
    line-height: 1.2;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}

.subtit_white {
    font-family: "Slabo 27px", serif;
    font-size: 34px;
    color: #353535;
    line-height: 1.2;
    color: #ffffff;
    font-size: 12px;
}

.companies {
    display: flex;
    justify-content: center;
    padding-top: 6%;
}

.fixed {
    position: fixed;
    top: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}


/*------------CARRUSEL----------- */

.container_2 {
    margin: auto;
    margin-top: 20px;
    position: relative;
    width: 800px;
    height: 400px;
    user-select: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 0;
}

.container_2 input {
    display: none;
}

.container_2 .slide_img_2 {
    background-color: white;
    max-width: 1100px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    align-items: center;
    width: 480px;
    height: 289px;
    box-shadow: 0 2px 10px 0 rgba(36, 36, 36, 0.14);
}

.container_2 img {
    max-height: 300px;
    margin-left: 7%;
}

.container_2 .circle {
    position: absolute;
    top: -40px;
    left: 42%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    background: white;
}

.container_2 .circle img {
    width: 70px !important;
    height: 70px;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #3c6e71;
}

.container_2 .contenido {
    padding: 8%;
    text-align: center;
}

.container_2 .prev,
.container_2 .next {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40%;
    background-color: #3c6e71;
    z-index: 99;
    transition: 0.45s;
    cursor: pointer;
    text-align: center;
}

.container_2 .next {
    right: -60px;
}

.container_2 .prev {
    left: -60px;
}

.container_2 .prev:hover,
.container_2 .next:hover {
    transition: 0.3s;
    opacity: 0.95;
}

.container_2 .prev span,
.container_2 .next span {
    position: absolute;
    width: 0px;
    height: 0px;
    border: solid 20px;
    top: 50%;
    transform: translateY(-50%);
}

.container_2 .prev span {
    border-color: transparent #fff transparent transparent;
    right: 35%;
}

.container_2 .next span {
    border-color: transparent transparent transparent #fff;
    left: 35%;
}

.container_2 #nav_slide_2 {
    width: 100%;
    bottom: -27px;
    left: 0;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;
}

.container_2 .dots2 {
    top: -5px;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(187, 186, 186, 0.6);
    transition: 0.4s;
    cursor: pointer;
}

.container_2 #dot1_2:hover,
.container_2 #dot2_2:hover,
.container_2 #dot3_2:hover,
.container_2 #dot4_2:hover,
.container_2 #dot5_2:hover {
    background: #3c6e71;
}

.zmdi-chevron-left,
.zmdi-chevron-right {
    font-size: 40px !important;
    color: white !important;
}

#a1:checked~#one_2,
#a2:checked~#two_2,
#a3:checked~#three_2,
#a4:checked~#four_2,
#a5:checked~#five_2 {
    z-index: 9;
    animation: scroll 0.5s ease-in-out;
}

#a1:checked~#nav_slide_2 #dot1_2,
#a2:checked~#nav_slide_2 #dot2_2,
#a3:checked~#nav_slide_2 #dot3_2,
#a4:checked~#nav_slide_2 #dot4_2,
#a5:checked~#nav_slide_2 #dot5_2 {
    background: #3c6e71;
}

.carusel_title {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    color: #284b63;
}

.carusel_subti {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
    color: #284b63;
}

.carusel_text {
    font-family: "Slabo 27px", serif;
    font-size: 16px;
    color: #353535;
}

#main_text {
    max-width: 650px;
}

.btn-flotante {
    z-index: 3;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    display: block;
    text-decoration: none;
    border-radius: 50%;
    display: none;
    border: 2px solid;
    background-image: linear-gradient(204deg, #0ba780, #353535, #353535);
    color: white;
}

.btn-flotante:hover {
    animation: gelatine 0.5s ease-in-out;
    /*animation: wiggle 1s ease-in-out;*/
    opacity: .7;
    color: white;
}

.btn-flotante i {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.btn-flotante i:hover {
    top: 5px;
    color: white;
}


/*----------------------------------------- */

@keyframes scroll {
    0% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes gelatine {
    from,
    to {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}


/*---------------MEDIA--------------- */

@media screen and (max-width: 768px) {
    .navbar ul li a {
        font-size: 16px;
    }
    .logotipo img {
        max-height: 30px;
    }
    #main_text {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    #main_text {
        max-width: 550px;
        font-size: 20px;
    }
    .big_title {
        font-size: 45px;
    }
}


/*# sourceMappingURL=main.css.map */