<template>
  <div id="login">
    <div class="limiter">
        <div class="container-login100" style="background-image: url('/assets/images/fondo.jpg');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form class="login100-form validate-form">
                    <a href="/"><div class="logotipo"><img src="https://image.flaticon.com/icons/svg/929/929339.svg"><img src="/assets/images/1573687393847.png"> </div></a>
                    <h1 class="main_title">Login</h1>

                    <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                        <span class="label-input100">Email</span>
                        
                        <input class="input100 " type="text" name="username" placeholder="Ingresa tu nombre de usuario">
                        
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" name="pass" placeholder="Escribe tu constraseña">
                    </div>

                    <!--<div class="text-right p-t-8 p-b-31">
                        <a href="#">
                            ¿Olvidaste tu contraseña?
                        </a>
                    </div>-->

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <a href="page-profile" class="login100-form-btn">
                                 Login
                            </a>
                        </div>
                    </div>
                    <div class="flex-col-c p-t-155">
                        <a href="registro" class="txt2">
                            Sign up
                        </a>
                    </div>
                    <div class="txt1 text-center p-t-54 p-b-20">
                        <span>
                            
or register using
                        </span>
                    </div>

                    <div class="flex-c-m">
                        <a href="#" class="login100-social-item bg1">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="login100-social-item bg2">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="#" class="login100-social-item bg3">
                            <i class="fa fa-google"></i>
                        </a>
                    </div>


                </form>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>
  </div>
</template>

<script type="text/javascript" src="./login.js"></script>


<!-- <style src="./index.css" scoped></style> -->
