<template>
  <div id="board">
    <!-- WRAPPER -->
    <div id="wrapper">
      <LogedHeader></LogedHeader>

      <LeftSideBar></LeftSideBar>
      <!-- MAIN -->
      <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
          <div class="container-fluid">
            <!-- OVERVIEW -->
            <div class="panel panel-headline">
              <div class="panel-body">
                <!--Aqui-->
                <div class="panel-body">
                    <div class="sprint_table">
                        <div id ="t1" class="sprin_t">
                          <h6>Product Backlog</h6>
                            <button id="list_btn" type="button" class="btn btn-default">
                            <img
                                src="https://image.flaticon.com/icons/svg/1395/1395838.svg"
                                alt="senpai"
                                style="width:25px;height:25px;"
                            />
                            </button>
                        </div>
                    
                    <div id="c1" class="metric tarjeta">
                      <p>
                        <span class="title">
                          <p class="historias" id="hist">
                            Como: Administrador
                            <br />Quiero: Poder agregar huellas dactilares al registro de mis
                            empleados.
                            <br />Para: RF04 C3
                          </p>
                        </span>
                        <button type="button" class="btn btn-default">
                          <img
                            src="https://image.flaticon.com/icons/svg/1160/1160758.svg"
                            alt="senpai"
                            style="width:25px;height:25px;"
                          />
                        </button>
                        <button type="button" class="btn btn-default">
                          <img
                            src="https://image.flaticon.com/icons/svg/875/875550.svg"
                            alt="senpai"
                            style="width:25px;height:25px;"
                          />
                        </button>
                      </p>
                    </div>
                    <div id="a1" class="add_t">
                          <b-button v-b-modal.modalPopover id="btn_g" ><img
                              src="https://image.flaticon.com/icons/svg/875/875515.svg"
                              alt="senpai"
                              style="width:25px;height:25px;"
                            />
                            Product Backlog</b-button>

                            <b-modal id="modalPopover" title="Add Card" ok-only>
                                <p>Name: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>Description: </p>
                                <b-form-textarea
                                      id="textarea"
                                      v-model="text"
                                      placeholder="Enter something..."
                                      rows="3"
                                      max-rows="6"
                                    ></b-form-textarea>
                                <p>What I want: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>For: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>ID: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>Priority: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>Size: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>Position: </p>
                                <p>Valid: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>State:</p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>Date: </p>
                                <input type="date" id="start" name="fecha-nacimiento" value="2018-07-22" min="1930-01-01" max="2000-12-31">
                                <p>User: </p>
                                <b-form-input v-model="text" ></b-form-input>

                            </b-modal>
                    </div>
                    <div id ="t2" class="sprin_t">
                          <h6>Product Backlog</h6>
                            <button id="list_btn" type="button" class="btn btn-default">
                            <img
                                src="https://image.flaticon.com/icons/svg/1395/1395838.svg"
                                alt="senpai"
                                style="width:25px;height:25px;"
                            />
                            </button>
                        </div>
                    
                    <div id="c2" class="metric tarjeta">
                      <p>
                        <span class="title">
                          <p class="historias" id="hist">
                            Como: Administrador
                            <br />Quiero: Poder agregar huellas dactilares al registro de mis
                            empleados.
                            <br />Para: RF04 C3
                          </p>
                        </span>
                        <button  type="button" class="btn btn-default">
                          <img
                            src="https://image.flaticon.com/icons/svg/1160/1160758.svg"
                            alt="senpai"
                            style="width:25px;height:25px;"
                          />
                        </button>
                        <button type="button" class="btn btn-default">
                          <img
                            src="https://image.flaticon.com/icons/svg/875/875550.svg"
                            alt="senpai"
                            style="width:25px;height:25px;"
                          />
                        </button>
                      </p>
                    </div>
                    <div id="a2" class="add_t">
                    <b-button v-b-modal.modalPopover id="btn_g" ><img
                              src="https://image.flaticon.com/icons/svg/875/875515.svg"
                              alt="senpai"
                              style="width:25px;height:25px;"
                            />
                            Product Backlog</b-button>

                            <b-modal id="modalPopover" title="Add Card" ok-only>
                                <p>Name: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>Description: </p>
                                <b-form-textarea
                                      id="textarea"
                                      v-model="text"
                                      placeholder="Enter something..."
                                      rows="3"
                                      max-rows="6"
                                    ></b-form-textarea>
                                <p>What I want: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>For: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>ID: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>Priority: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>Size: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>Position: </p>
                                <p>Valid: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>State:</p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>Date: </p>
                                <input type="date" id="start" name="fecha-nacimiento" value="2018-07-22" min="1930-01-01" max="2000-12-31">
                                <p>User: </p>
                                <b-form-input v-model="text" ></b-form-input>

                            </b-modal>
                    </div>
                    <div id ="t3" class="sprin_t">
                          <h6>Product Backlog</h6>
                            <button id="list_btn" type="button" class="btn btn-default">
                            <img
                                src="https://image.flaticon.com/icons/svg/1395/1395838.svg"
                                alt="senpai"
                                style="width:25px;height:25px;"
                            />
                            </button>
                        </div>
                    
                    <div id="c3" class="metric tarjeta">
                      <p>
                        <span class="title">
                          <p class="historias" id="hist">
                            Como: Administrador
                            <br />Quiero: Poder agregar huellas dactilares al registro de mis
                            empleados.
                            <br />Para: RF04 C3
                          </p>
                        </span>
                        <button  type="button" class="btn btn-default">
                          <img
                            src="https://image.flaticon.com/icons/svg/1160/1160758.svg"
                            alt="senpai"
                            style="width:25px;height:25px;"
                          />
                        </button>
                        <button  type="button" class="btn btn-default">
                          <img
                            src="https://image.flaticon.com/icons/svg/875/875550.svg"
                            alt="senpai"
                            style="width:25px;height:25px;"
                          />
                        </button>
                      </p>
                    </div>
                    <div id="a3" class="add_t">
                    <b-button v-b-modal.modalPopover id="btn_g" ><img
                              src="https://image.flaticon.com/icons/svg/875/875515.svg"
                              alt="senpai"
                              style="width:25px;height:25px;"
                            />
                            Product Backlog</b-button>

                            <b-modal id="modalPopover" title="Add Card" ok-only>
                                <p>Name: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>Description: </p>
                                <b-form-textarea
                                      id="textarea"
                                      v-model="text"
                                      placeholder="Enter something..."
                                      rows="3"
                                      max-rows="6"
                                    ></b-form-textarea>
                                <p>What I want: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>For: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>ID: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>Priority: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>Size: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>Position: </p>
                                <p>Valid: </p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>State:</p>
                                <b-form-input v-model="text" ></b-form-input>
                                <p>Date: </p>
                                <input type="date" id="start" name="fecha-nacimiento" value="2018-07-22" min="1930-01-01" max="2000-12-31">
                                <p>User: </p>
                                <b-form-input v-model="text" ></b-form-input>

                            </b-modal>
                    </div>
                    <b-button v-b-modal.modal-1  id="btn_g"><img
                          src="https://image.flaticon.com/icons/svg/875/875515.svg"
                          alt="senpai"
                          style="width:25px;height:25px;"
                        />
                        Add List</b-button>

                    <b-modal id="modal-1" title="List">
                        <div class="modal_con">
                            
                            <h7>List name: </h7>
                            <input class="input_g" type="text">
                        </div>
                    </b-modal>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Hasta aqui-->
    <!--
			<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
			</div>
		</footer>
    -->
    <footer>
      <div class="container-fluid">
        <p class="copyright">
          &copy; 2019 All Rights Reserved Bunny.
          <img
            src="https://image.flaticon.com/icons/png/128/271/271439.png"
            alt="senpai"
            style="width:25px;height:25px;"
          />
        </p>
      </div>
    </footer>
  </div>
</template>

<script type="text/javascript" src="./board.js"></script>

<!--<style src="/assets/css/main1.css" scoped></style>-->

