<template>
  <div id="proyectos">
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <a href="/"><div class="logotipo"><img src="https://image.flaticon.com/icons/svg/929/929339.svg"><img src="/assets/images/1573687393847.png"> </div></a> 
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div id="title" class="card-heading">
                    <h2 class="title">
                        Sign up</h2>
                    <p>Do you already have an account?<a href="/login"> Login</a></p>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div id="Nombre" class="form-row m-b-55">
                            <div class="name">Name</div>
                            <div class="value">
                                <div class="input-group-desc">
                                    <input v-model="test" class="input--style-5" type="text" name="first_name">
                                    <label class="label--desc">Full name {{test}}</label>
                                    <div v-for="(habilida) in array" v-bind:key ="habilida">
                                        <label class="label--desc">{{habilida.name}}</label>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div id="Apodo" class="form-row">
                            <div   class="name">Nickname</div>
                            <div class="value">
                                <div class="input-group-desc">
                                    <input class="input--style-5" type="text" name="last_name">
                                    
                                </div>
                            </div>
                        </div>
                        <div id="Correo" class="form-row">
                            <div   class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="email" name="email">
                                </div>
                            </div>
                        </div>
                        <div id="Contra"  class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="password" name="email">
                                </div>
                            </div>
                        </div>
                        <div id="Contra2"  class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group-desc">
                                    <input class="input--style-5" type="password" name="email">
                                    <label class="label--desc">Repeat password</label>       
                                </div>
                            </div>
                        </div>
                        <div id="Fecha"  class="form-row">
                            <div class="name">Birthdate</div>
                            <div class="value">
                                <div class="input-group">
                                    <input type="date" id="start" name="fecha-nacimiento" value="2018-07-22" min="1930-01-01" max="2000-12-31">
                                </div>
                            </div>
                        </div>
                        
                        <div id="Curp" class="form-row">
                            <div class="name">CURP</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="CURP">
                                </div>
                            </div>
                        </div>
                        <div id="RFC"  class="form-row">
                            <div class="name">RFC</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="RFC">
                                </div>
                            </div>
                        </div>
                        <div id="Tel" class="form-row m-b-55">
                            <div  class="name">Phone</div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-9">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="phone">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Hab" class="form-row">
                            <div class="name">
                                Skills</div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-3">
                                        <div class="input-group-desc">
                                            <input id="text-habi" class="input--style-5" type="text" name="area_code">
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div id="habilidades" class="rs-select2 js-select-simple select--no-search">
                                            <select name="subject">
                                            <option disabled="disabled" selected="selected">Level</option>
                                            <option>Junior</option>
                                            <option>Senior</option>
                                            <option>Master</option>
                                        </select>
                                            <div class="select-dropdown"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <b-table hover :items="items"></b-table>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-añadir">
                                <button class="btn btn--radius-2 btn--blue2" type="submit"><i class="zmdi zmdi-plus-circle"></i> Skill</button>
                            </div>
                        </div>
                        <!--<div class="form-row p-t-20">
                            <label class="label label--block">Aceptas terminos y condiciones</label>
                            <div class="p-t-15">
                                <label class="radio-container m-r-55">Acepto
                                    <input type="radio" checked="checked" name="exist">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">No acepto
                                    <input type="radio" name="exist">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>-->
                        <div id="sign_btn">
                            <a href="/login" class="btn btn--radius-2 btn--red" type="submit">Sign up</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script type="text/javascript" src="./registro.js"></script>

<!--<style src="/assets/css/main1.css" scoped></style>-->

