<template>
  <div id="listas">
    <!-- WRAPPER -->
    <div id="wrapper">
      <LogedHeader></LogedHeader>
        
      <LeftSideBar></LeftSideBar>
      <!-- MAIN -->
      <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
          <div class="container-fluid">
            <h3 class="page-title">Listas archivadas</h3>
            <div class="row">
              <div class="col-md-4">
                <!-- PANEL -->
                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Lista 1</h3>
                    <div class="right">
                      <button type="button" class="btn-toggle-collapse">
                        <i class="lnr lnr-chevron-up"></i>
                      </button>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="metric">
                      <p id="hist">
                        <span class="title">
                          Como: Empleado
                          <br />Quiero: Consultar el historial de tareas que me asignaron.
                          <br />Para: Determinar cual fue la distancia recorrida y el consumo de
                          gasolina durante la actividad y también conocer cuales tareas de
                          cada actividad.
                          RF08, RF13 C5
                        </span>
                        <br />
                        
                        <button type="button" class="btn btn-default">
                          <img
                            src="https://image.flaticon.com/icons/svg/875/875550.svg"
                            alt="senpai"
                            style="width:25px;height:25px;"
                          />
                        </button>
                      </p>
                    </div>
                    <div class="metric">
                      <p id="hist">
                        <span class="title">
                          Como: Empleado
                          <br />Quiero: Consultar el historial de tareas que me asignaron.
                          <br />Para: Determinar cual fue la distancia recorrida y el consumo de
                          gasolina durante la actividad y también conocer cuales tareas de
                          cada actividad.
                          RF08, RF13 C5
                        </span>
                        <br />
                        
                        <button type="button" class="btn btn-default">
                          <img
                            src="https://image.flaticon.com/icons/svg/875/875550.svg"
                            alt="senpai"
                            style="width:25px;height:25px;"
                          />
                        </button>
                      </p>
                    </div>
                    <div class="metric">
                      <p id="hist">
                        <span class="title">
                          Como: Empleado
                          <br />Quiero: Consultar el historial de tareas que me asignaron.
                          <br />Para: Determinar cual fue la distancia recorrida y el consumo de
                          gasolina durante la actividad y también conocer cuales tareas de
                          cada actividad.
                          RF08, RF13 C5
                        </span>
                        <br />
                       
                        <button type="button" class="btn btn-default">
                          <img
                            src="https://image.flaticon.com/icons/svg/875/875550.svg"
                            alt="senpai"
                            style="width:25px;height:25px;"
                          />
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Lista 2</h3>
                    <div class="right">
                      <button type="button" class="btn-toggle-collapse">
                        <i class="lnr lnr-chevron-up"></i>
                      </button>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="panel-body">
                      <div class="metric">
                        <p id="hist">
                          <span class="title">
                            Como: Empleado
                            <br />Quiero: Consultar el historial de tareas que me asignaron.
                            <br />Para: Determinar cual fue la distancia recorrida y el consumo de
                            gasolina durante la actividad y también conocer cuales tareas de
                            cada actividad.
                            RF08, RF13 C5
                          </span>
                          <br />
                          
                          <button type="button" class="btn btn-default">
                            <img
                              src="https://image.flaticon.com/icons/svg/875/875550.svg"
                              alt="senpai"
                              style="width:25px;height:25px;"
                            />
                          </button>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END MAIN CONTENT -->
          </div>
          <!-- END MAIN -->
          <div class="clearfix"></div>
          <footer>
            <div class="container-fluid">
              <p class="copyright">
                &copy; 2019 All Rights Reserved Bunny.
                <img
                  src="https://image.flaticon.com/icons/png/128/271/271439.png"
                  alt="senpai"
                  style="width:25px;height:25px;"
                />
              </p>
            </div>
          </footer>
        </div>
        <!-- END WRAPPER -->
      </div>
    </div>
  </div>
</template>

<script type="text/javascript" src="./listas.js"></script>

<!--<style src="/assets/css/main1.css" scoped></style>-->

