<template>
  <div id="index">
    <!-- HEADER -->
    <PublicHeader></PublicHeader>

    <section class="main">
      <div class="main-box .justify-space-between">
        <div class="welcome">
          <p class="big_title">
            Welcome to
            <Strong class="blue">E</Strong>scrum
            <Strong class="blue">E</Strong>agle!
          </p>
          <p class="title">A platform to enlarge the</p>
          <p class="title">
            <strong class="blue">teamwork experience,</strong>
          </p>
          <p class="title">
            and best website to use
            <strong class="blue">Scrum</strong>.
          </p>
          <a href="/registro">
            <button class="try_now">Try now!</button>
          </a>
        </div>
      </div>
      <div class="scroll">
        <a id="lil_scroll" href="#info">
          Scroll
          <br />
          <i class="zmdi zmdi-chevron-down"></i>
        </a>
      </div>
      <div id="info" class="content">
        <a class="btn-flotante" href="#">
          <i class="zmdi zmdi-chevron-up zmdi-hc-2x"></i>
        </a>
        <div class="information">
          <p class="big_title">What is Scrum?</p>
          <p class="text">
            Scrum is a
            <strong class="blue">framework</strong>that helps teams work
            <strong class="blue">together</strong>. Much like a rugby team (where it gets its name) training for the big game, Scrum
            <strong class="blue">encourages teams</strong> to learn through
            <strong class="blue">experiences</strong>, self-organize while working on a problem, and reflect on their wins and losses to
            <strong class="blue">continuously improve.</strong>
          </p>
        </div>
        <div class="information">
          <p class="text">Other companies have used scrum, here are some examples</p>
          <div class="companies">
            <img
              class="logo"
              src="https://logodownload.org/wp-content/uploads/2014/09/google-logo-1.png"
            />
            <img class="logo" src="https://up.metropol247.co.uk/Maarten1/bbc1.png" />
            <img
              class="logo"
              src="https://atlanticventureforum.ca/wp-content/uploads/2017/02/Microsoft-Logo-PNG.png"
            />
            <img
              class="logo"
              src="https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_960_720.png"
            />
          </div>
        </div>
        
        <!-- FOOTER -->
        <PublicFooter></PublicFooter>
      </div>
    </section>
  </div>
</template>

<script type="text/javascript" src="./main_index.js"></script>

<!--<style src="/assets/css/main1.css" scoped></style>-->
