<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>vue-web-client</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vue-web-client doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <!-- AQUI ES DONDE SE RENDERIZA LA APP  -->
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script type="text/javascript" src="/assets/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(window).bind("scroll", function() {
        if ($(window).scrollTop() > 60) {
            $(".nav").addClass("fixed");
        }
      });
    </script>
    <script type="text/javascript">
      $(window).scroll(function() {
        if ($(this).scrollTop() >= 500) {
            $(".btn-flotante").fadeIn(200);
        } else {
            $(".btn-flotante").fadeOut(200);
        }
      });
      $(".btn-flotante").click(function() {
        $("body,html").animate(
            {
            scrollTop: 0
            },
            500
        );
      });
    </script>
   <!--  <script type="text/javascript">
      $(window).bind('scroll', function() {
          if ($(window).scrollTop() > 60) {
              $('.nav').addClass('fixed');
          }
      });
    </script>
    <script type="text/javascript">
        $(window).scroll(function() {
            if ($(this).scrollTop() >= 500) {
                $('.btn-flotante').fadeIn(200);
            } else {
                $('.btn-flotante').fadeOut(200);
            }
        });
        $('.btn-flotante').click(function() {
            $('body,html').animate({
                scrollTop: 0
            }, 500);
        });
    </script> -->
  </body>
  
</html>
