<template>
  <!-- LEFT SIDEBAR -->
  <div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
      <nav>
        <ul class="nav">
          <div class="profile-header">
            <div class="overlay"></div>
            <div class="profile-main">
              <img id="user" src="https://cdn.icon-icons.com/icons2/67/PNG/512/user_13230.png" class="img-circle" alt="Avatar" />
              <h3 class="name">Samuel Gold</h3>
            </div>
          </div>
          <div class="profile-detail">
            <div class="profile-info">
              <h4 class="heading">Basic Info</h4>
              <ul class="list-unstyled list-justify">
                <li>
                  Birthdate
                  <span>24 Aug, 2016</span>
                </li>
                <li>
                  Mobile
                  <span>(124) 823409234</span>
                </li>
                <li>
                  Email
                  <span>samuel@mydomain.com</span>
                </li>
              </ul>
              <ul class="rutes">
                <li>
                  <a href="proyectos" class>
                    <span class="lnr lnr-briefcase"></span>
                    <span>Proyects</span>
                  </a>
                </li>
                <li>
                  <a href="proSet" class>
                    <span class="lnr lnr-pencil"></span>
                    <span>Settings</span>
                  </a>
                </li>
                <li>
                  <a href="login" class>
                    <span class="lnr lnr-exit"></span>Sign off
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </ul>
      </nav>
    </div>
  </div>
  <!-- END LEFT SIDEBAR -->
</template>

<script type="text/javascript" src="./LeftSideBar2.js"></script>

<style scoped>
</style>
