<template>
  <div class="main_footer">
    <div class="foot_info">
      <div class="foot_content">
        <div class="logotipo_white">
          <img src="https://image.flaticon.com/icons/svg/929/929339.svg" />
          <img src="/assets/images/logoWhite.png" />
        </div>
        <p class="title_white">A platform to enlarge the</p>
        <p class="title_white">teamwork experience,</p>
        <p class="title_white">and best website to use Scrum.</p>

        <a href="/registro">
          <button class="try_now">Try now!</button>
        </a>
      </div>
      <div class="social_media">
        <a href="https://www.instagram.com/?hl=es-la">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/600px-Instagram-Icon.png"
          />
        </a>
        <a href="https://www.facebook.com/">
          <img src="https://image.flaticon.com/icons/png/512/174/174848.png" />
        </a>
        <a href="https://twitter.com/">
          <img
            src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_color-512.png"
          />
        </a>
      </div>
      <div class="companies">
        <p class="subtit_white">
          <img src="/assets//images/carrot.png" width="25px" /> Bunnyzilla.Inc
        </p>
        <p class="subtit_white">
          <img src="https://image.flaticon.com/icons/svg/1451/1451301.svg" width="25px" /> Pizza.Inc
        </p>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript" src="./PublicFooter.js"></script>

<style scoped>
</style>
