<template>
  <section class="nav">
    <div class="navbar">
      <div href="/" class="logotipo">
        <img src="https://image.flaticon.com/icons/svg/929/929339.svg" />
        <img src="/assets/images/1573687393847.png" />
      </div>
      <ul>
        <li>
          <a href="/about">About us</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/registro">
            <button class="registry">Join</button>
          </a>
        </li>
      </ul>
    </div>
  </section>
</template>

<script type="text/javascript" src="./PublicHeader.js"></script>

<style scoped>

</style>
