<template>
  <div id="ajustes">
    <!-- WRAPPER -->
    <div id="wrapper">
        <LogedHeader></LogedHeader>
        
        <LeftSideBar></LeftSideBar>
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <h3 class="page-title">Settings</h3>
                    <div id="toastr-demo" class="panel">
                        <div class="panel-body">
                            <form class="form-auth-small" action="index.php">
                                <h4>Proyect Name</h4>
                                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                                    <input type="text" class="form-control" placeholder="Nombre de proyecto" value="Proyect Manager">
                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                                </div>
                                <h4>Project Request Date:</h4>
                                <input type="date" id="start" name="fecha-nacimiento" value="2018-07-22" min="1930-01-01" max="2000-12-31">
                                <h4>Startup Request Date:</h4>
                                <input type="date" id="start" name="fecha-nacimiento" value="2018-07-22" min="1930-01-01" max="2000-12-31">
                                <h4>Description</h4>
                                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                                    <input type="text" class="form-control" placeholder="Descripción" value="Realizar una plataforma de Scrum">
                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                                </div>
                                <h4>Product Owner Name:</h4>
                                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                                    <input type="text" class="form-control" placeholder="Nombre de proyecto" value="Proyect Manager">
                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                                </div>
                                <h4>select manager</h4>
                                <multiselect v-model="value" :options="options" :custom-label="nameWithLang" placeholder="Select one" label="name" track-by="name"></multiselect>
                                <h4>Development team:</h4>
                                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                                    <input type="text" class="form-control" placeholder="Nombre de proyecto" value="Proyect Manager">
                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                                </div>
                                <div id="miembros_set" class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="metric">
                                                <p class="historias" id="hist">
                                                    <button type="button" class="btn btn-default">
														<span class="lnr lnr-trash"></span>
													</button> Miembro 1
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="metric">
                                                <p class="historias" id="hist">
                                                    <button id="borrar_miem" type="button" class="btn btn-default">
														<span class="lnr lnr-trash"></span>
													</button> Miembro 2
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="metric">
                                                <p class="historias" id="hist">
                                                    <button id="borrar_miem" type="button" class="btn btn-default">
														<span class="lnr lnr-trash"></span>
													</button> Miembro 3
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="metric">
                                                <p class="historias" id="hist">
                                                    <button id="borrar_miem" type="button" class="btn btn-default">
														<span class="lnr lnr-trash"></span>
													</button> Miembro 4
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <b-button v-b-modal.modal-1 id= "btn_g"><img src="https://image.flaticon.com/icons/svg/875/875515.svg" alt="senpai"
												style="width:25px;height:25px;">
											add member</b-button>

                                            <b-modal id="modal-1" title="BootstrapVue">
                                              <h7>Find member</h7>
                                                <multiselect v-model="value" :options="options" :custom-label="nameWithLang" placeholder="Select one" label="name" track-by="name"></multiselect>
                                            </b-modal>
                                        
                                    </div>
                                </div>
                                <b-form-checkbox id="checkbox-1" v-model="status" name="checkbox-1" value="Finish" unchecked-value="not_finish">
                                  Finish
                                </b-form-checkbox>
                                <br>
                                <button type="button" class="btn btn-danger btn-toastr"> <i class="lnr lnr-trash"></i>
									Delete proyect</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <footer>
            <div class="container-fluid">
                <p class="copyright">&copy; 2019 All Rights Reserved Bunny. <img src="https://image.flaticon.com/icons/png/128/271/271439.png" alt="senpai" style="width:25px;height:25px;"></p>

            </div>
        </footer>
    </div>
  </div>
</template>

<script type="text/javascript" src="./ajustes.js"></script>

<!--<style src="/assets/css/main1.css" scoped></style>-->

