<template>
  <div id="tarjetas">
    <!-- WRAPPER -->
    <div id="wrapper">
      <LogedHeader></LogedHeader>

      <LeftSideBar></LeftSideBar>
      <!-- MAIN -->
      <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
          <div class="container-fluid">
            <div class="panel panel-headline">
              <div class="panel-body">
                <h3 class="page-title">Tarjetas archivadas</h3>
                <div class="row">
                  <div class="col-md-6">
                    <p class="demo-button">
                      
                    </p>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="metric">
                          <p></p>
                          <h3 class="panel-title">Product Backlog</h3>
                          <span class="title">
                            <p class="historias" id="hist">
                              Como: Administrador
                              <br />Quiero: Poder agregar huellas dactilares al registro de mis
                              empleados.
                              <br />Para: RF04 C3
                            </p>
                            
                            <button type="button" class="btn btn-default">
                              <img
                                src="https://image.flaticon.com/icons/svg/875/875550.svg"
                                alt="senpai"
                                style="width:25px;height:25px;"
                              />
                            </button>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="metric">
                          <p></p>
                          <h3 class="panel-title">Product Backlog</h3>
                          <span class="title">
                            <p class="historias" id="hist">
                              Como: Administrador
                              <br />Quiero: Poder agregar huellas dactilares al registro de mis
                              empleados.
                              <br />Para: RF04 C3
                            </p>
                            
                            <button type="button" class="btn btn-default">
                              <img
                                src="https://image.flaticon.com/icons/svg/875/875550.svg"
                                alt="senpai"
                                style="width:25px;height:25px;"
                              />
                            </button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END MAIN CONTENT -->
      </div>
      <!-- END MAIN -->
      <div class="clearfix"></div>
      <footer>
        <div class="container-fluid">
          <p class="copyright">
            &copy; 2019 All Rights Reserved Bunny.
            <img
              src="https://image.flaticon.com/icons/png/128/271/271439.png"
              alt="senpai"
              style="width:25px;height:25px;"
            />
          </p>
        </div>
      </footer>
    </div>
    <!-- END WRAPPER -->
  </div>
</template>

<script type="text/javascript" src="./tarjetas.js"></script>

<!--<style src="/assets/css/main1.css" scoped></style>-->

