<template>
  <div id="actividades">
    <!-- WRAPPER -->
    <div id="wrapper">
        <LogedHeader></LogedHeader>
        
        <LeftSideBar></LeftSideBar>
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <h3 class="page-title">Actividad</h3>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Hoy</h3>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <h5>Miembro 1 ha añadido una tarjeta.</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <h5>Miembro 2 ha modificado una tarea.</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Ayer</h3>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <h5>Miembro 1 ha añadido una tarjeta.</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <h5>Miembro 1 creo el proyecto.</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <footer>
            <div class="container-fluid">
                <p class="copyright">&copy; 2019 All Rights Reserved Bunny. <img src="https://image.flaticon.com/icons/png/128/271/271439.png" alt="senpai" style="width:25px;height:25px;"></p>

            </div>
        </footer>
    </div>
    <!-- END WRAPPER -->
  </div>
</template>

<script type="text/javascript" src="./actividades.js"></script>

<!--<style src="../../assets/css/main3.css" scoped></style>-->

