<template>
  <section class="nav">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top"  style="width: -webkit-fill-available;">
      <div class="brand">
        <div class="logotipo">
          <img src="https://image.flaticon.com/icons/svg/929/929339.svg" />
          <img src="/assets/images/1573687393847.png" />
        </div>
      </div>
      <div class="">
        <!-- <form class="navbar-form navbar-left">
          <div class="input-group">
            <input type="text" value class="form-control" placeholder="Search dashboard..." />
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary">Go</button>
            </span>
          </div>
        </form> -->
        <div id="navbar-menu">
          <ul class="nav navbar-nav navbar-right">
            <!--<li class="dropdown">
              <!<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                <i class="lnr lnr-alarm"></i>
                <span class="badge bg-danger">5</span>
              </a>
              <ul class="dropdown-menu notifications">
                <li>
                  <a href="#" class="notification-item">
                    <span class="dot bg-warning"></span>System
                    space is almost full
                  </a>
                </li>
                <li>
                  <a href="#" class="notification-item">
                    <span class="dot bg-danger"></span>You have 9
                    unfinished tasks
                  </a>
                </li>
                <li>
                  <a href="#" class="notification-item">
                    <span class="dot bg-success"></span>Monthly
                    report is available
                  </a>
                </li>
                <li>
                  <a href="#" class="notification-item">
                    <span class="dot bg-warning"></span>Weekly
                    meeting in 1 hour
                  </a>
                </li>
                <li>
                  <a href="#" class="notification-item">
                    <span class="dot bg-success"></span>Your
                    request has been approved
                  </a>
                </li>
                <li>
                  <a href="#" class="more">See all notifications</a>
                </li>
              </ul>
            </li>-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="/assets/images/user.png" class="img-circle" alt="Avatar" />
                <span>Samuel</span>
                <i class="icon-submenu lnr lnr-chevron-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="page-profile">
                    <i class="lnr lnr-user"></i>
                    <span>My Profile</span>
                  </a>
                </li>
                <!--<li>
                  <a href="#">
                    <i class="lnr lnr-envelope"></i>
                    <span>Message</span>
                  </a>
                </li>-->
                <li>
                  <a href="proSet">
                    <i class="lnr lnr-cog"></i>
                    <span>Settings</span>
                  </a>
                </li>
                <li>
                  <a href="login">
                    <i class="lnr lnr-exit"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </li>
            <!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
            </li>-->
          </ul>
        </div>
      </div>
    </nav>
    <!-- END NAVBAR -->
  </section>
</template>

<script type="text/javascript" src="./LogedHeader.js"></script>

<style scoped>
</style>
