<template>
  <div id="app" style="margin: 0;text-align: justify;">
    <router-view />
  </div>
</template>

<script>
/* window.$ = require('jquery')
window.JQuery = require('jquery') */

export default {
	name: 'App',
	components: {}
};
</script>

<style>
.container {
  margin: auto;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}
</style>