<template>
  <!-- LEFT SIDEBAR -->
  <div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
      <nav>
        <ul class="nav">
          <li class="side">
            <a href="board" class>
              <i class="lnr lnr-home"></i>
              <span>Board</span>
            </a>
          </li>
          <!--<li class="side">
             <a href="actividades" class="active">
            <a href="actividades" >
              <i class="lnr lnr-mustache"></i>
              <span>Actividades</span>
            </a>
          </li>-->
          <li class="side">
            <a href="tarjetas" class>
              <i class="lnr lnr-paperclip"></i>
              <span>
                Archived Cards
              </span>
            </a>
          </li>
          <li class="side">
            <a href="listas" class>
              <i class="lnr lnr-list"></i>
              <span>
Archived Lists
              </span>
            </a>
          </li>
          <li class="side">
            <a href="ajustes" class>
              <i class="lnr lnr-cog"></i>
              <span>Board Settings
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- END LEFT SIDEBAR -->
</template>

<script type="text/javascript" src="./LeftSideBar.js"></script>

<style scoped>
</style>
